

# ------------------------------------------
# bbZero 1.17.x - blackbox.rc - basic settings

# Lines starting with # or ! are ignored
# All items are configurable from the menu

bbDesktop.foreColor : #FFFFFF
bbDesktop.shadowColor: #404040
window.active.button.unpressed.image.color:             white
window.*.client.color: #eeeeee
window.inactive.button.disabled.image.color:        rgb:70/74/78
toolbar.color:                  rgb:c/6/6
*textColor:                     grey20

# - the toolbar -
session.openFolderCommand: explorer.exe /e, "%1"
session.screen0.strftimeformat : %H:%M %a %d %b
!blackbox.appearance.bullet.bitmap : menu-bullets.bmp
session.styleFile : styles\nightBlue.style
blackbox.desktop.AltMidClick: @BBCore.ShowMenu styles >> @BBCore.style % 1

bIconBox.search/4.icon.size: 16
search.location.4.includes : .*\.exe; .*\.com; .*\.bat; .*\.cmd

/************************** C style comment follows
** session.screen0.toolbar.enabled: false
** session.screen0.toolbar.placement: BottomCenter
** session.screen0.toolbar.widthPercent: 66
** session.screen0.toolbar.onTop: true
session.screen0.toolbar.alpha.value: 224*/

# - snap -
session.snap.toPlugins: true
session.snap.padding: 2
session.snap.threshold: 10

# - misc options -
session.screen0.focusModel: ClickToFocus
session.screen0.fullMaximization: false
session.screen0.strftimeformat: %H:%M %a %d %b

# - workspace options -
session.screen0.workspacenames: alpha,beta,gamma

# - additional menu settings  -<S-F12>
session.autoraisedelay: 250
session.options.UTF8Encoding: false

# - non-menu settings  -
session.menufile: menu.rc
session.openFolderCommand: explorer.exe /e,"%1"

# - current style -
session.styleFile: styles\nightBlue.style
# --------------------------------------------------------------

